__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.env
.env.local
.git
.gitignore
README.md
.dockerignore
.venv
venv
ENV
env
.idea
.vscode
*.log
.pytest_cache
.coverage
htmlcov
.python-version
db/*.db  # Игнорируем SQLite файл (не копируем в образ)